@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
	font-family: 'Outfit', sans-serif;
	margin: auto;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: #fff;
	width: 300px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	margin: 80px 0;
}

.card img {
	max-width: 100%;
	border-radius: 20px;
}

.card h3 {
	font-size: 18px;
	color: hsl(218, 44%, 22%);
}

.card p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	max-width: 90%;
	margin: 0 auto;
}

.attribution {
    margin-top: 10px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .card {
        width: 350px;
        margin: 150px 30px;
    }
}